@charset "utf-8";

* {
	padding : 0;
	margin : 0;
}

body{
	padding:0px;
	margin:0px;
	line-height: 1 !important;
}

#headerBanner{
	background-image: url(../img/headerBanner45.png);
	width:100%;
	height:650px;
	/* background-size:300px 100px; */ 
	background-repeat: no-repeat;
	background-color: black;
	background-size: 100%;
}

/* header */
#headerFullWidth{
	width:100%;
	height:50px;
	background-color:rgba(0,0,0,0.4);
	top:0px;
	position: fixed;
	index:9999;
}

#headerLayout{
	width:1200px;
	padding-top:7px;
	margin: 0 auto;
}



#headerLogo{
	width:35px;
}
.fontOpenSans{
	font-family: 'Open Sans', sans-serif;
}
.headerNaviText{
	float:right;
	font-family: 'Open Sans', sans-serif;
	color:white !important;
	padding-left: 30px;
	padding-top:5px;
	cursor: pointer;
	text-decoration: none;
	/* font-family: 'Gothic A1', sans-serif; */
	
}
.headerNaviText:hover {
	color:#ffc828 !important;
	text-decoration: none !important;
}

/* headerBanner */

#BannerTextBox{
	position: absolute;
	top:180px;
	left:300px;
}
#BannerText01{
	
}
.BT_h1{
	font-size: 42pt;
	color:white;
	border-bottom:2px solid #ffc828;
}

.BT_h4{
	font-size: 16pt;
	color:white;
	font-weight: lighter;
	opacity: 0.8;
	height:2000px;
}

.carousel-inner img {
      width: 100%;
      /* height: 100%; */
  }
  
 .active{
 	background-color: #ffc828 !important;
 }
 
 
 /* dailyDeal */
 
 .defaultLayout{
	width:1200px !important;
	margin: 0 auto !important;
	
}
 .dailyDeal{
	text-align: center !important;
	margin-top:80px !important;
}
 
 #dealHeadline{
 	color:#ffc828 !important;
 	font-weight: bold;
 	font-size: 52px;
 	
 }
 #timeBigBox{
 	margin-top:20px;
 }
 .timeBox{
 	display: inline-block;
 	background-color: #505050;
 	width:100px;
 	padding:8px 0px;
 	text-align: center !important;
 	border-radius: 15px;
 }
 .timeText{
 	font-family: 'Quantico', sans-serif !important;
 	font-size: 42pt;
 	font-weight: bold;
 }
 .timeZone{
 	/* background-color: #505050; */
 	/* padding:8px 12px; */
 	color:white;
 }
 .timeDot{
 	color:#505050;
 }
 #dailySliderBox{
 	width:1200px;
 	margin:0 auto;
 	overflow: hidden;
 }
 
 /* youtube */
 
 .youtubeBigBox{
 	width:100%;
 	background-color: #f0f0f0;
 	margin-top:80px;
 }
 .youtubeLayout{
 	width:1200px;
 	margin: 0 auto;
 	padding: 20px 0;
 }
 .youtubeFrame{
 	width:520px;
	height:292.5px;
	display:inline-block;
 }
 .youtube{
	width:520px;
	height:292.5px;
	
 }
 .youtubeText{
 	display:inline-block;
 	float:right;
 	width:680px;
 	height:293px;
 	background-color: white;
 }
 .youtube_H1{
 	margin-top:20px;
 	margin-left:30px;
 	padding-bottom:5px;
 	font-size: 28pt;
 	color:#505050;
 	border-bottom: 2px solid #ffc828;
 	display: inline-block;
 	font-weight: bold;
 }

.youtube_H4{
	margin-left:30px;
 	font-size: 14pt;
 	color:#505050;
 	font-weight: lighter;
 	line-height: 28px;
 }
 .youtubeBtn{
 	border: 1px solid #505050;
	padding:7px 10px;
	border-radius: 5px; 
	margin-top:15px;
	margin-left:30px;	
 }
 
 .youtubeBtn:hover {
	border: none;
	background-color: #ffc828;
	color:white;
}


/* footer */
.footerBigBox{
	width:100%;
	height:200px;
	background-color: #ffc828;
	
}






