@charset "utf-8";

* {
	padding : 0;
	margin : 0;
}

body{
	padding:0px;
	margin:0px;
}

#headerBanner{
	background-image: url(../img/headerBanner45.png);
	width:100%;
	height:650px;
	/* background-size:300px 100px; */ 
	background-repeat: no-repeat;
	background-color: black;
	background-size: 100%;
}

/* header */
#headerFullWidth{
	width:100%;
	height:50px;
	background-color:rgba(0,0,0,0.4);
	top:0px;
	position: fixed;
	index:9999;
}

#headerLayout{
	width:1200px;
	padding-top:7px;
	margin: 0 auto;
}
.defaultLayout{
	width:1200px;
	margin: 0 auto;
	
}


#headerLogo{
	width:35px;
}
.fontOpenSans{
	font-family: 'Open Sans', sans-serif;
}
.headerNaviText{
	float:right;
	font-family: 'Open Sans', sans-serif;
	color:white !important;
	padding-left: 30px;
	padding-top:5px;
	cursor: pointer;
	text-decoration: none;
	/* font-family: 'Gothic A1', sans-serif; */
	
}
.headerNaviText:hover {
	color:#ffc828 !important;
	text-decoration: none !important;
}

/* headerBanner */

#BannerTextBox{
	position: absolute;
	top:180px;
	left:300px;
}
#BannerText01{
	
}
.BT_h1{
	font-size: 42pt;
	color:white;
	border-bottom:2px solid #ffc828;
}

.BT_h4{
	font-size: 16pt;
	color:white;
	font-weight: lighter;
	opacity: 0.8;
	height:2000px;
}

.carousel-inner img {
      width: 100%;
      /* height: 100%; */
  }
  
 .active{
 	background-color: #ffc828 !important;
 }
 
 
 /* dailyDeal */
 .dailyDeal{
	text-align: center !important;
	margin-top:100px;
}
 
 #dealHeadline{
 	color:#ffc828 !important;
 	font-weight: bold;
 	
 }








