@charset "UTF-8";

/* *{
	Test용
	border: 1px solid black;
} */

.all_Button{
		vertical-align: middle;
		margin: 15px 5px;
	}



#freeboard_wrap_1 {
	width: 800px;
	margin: 0 auto;
	height: 800px;
}

#freeboard_wrap_2 {
	width: 800px;
	margin: 15px auto;
	height: auto;
}




#freeboard_Header {
	margin: 5px 10px;
	height: 40px;
}
/*<<Start of #freeboard_Header>>*/
/*header_up : 게시글 번호, 날짜*/
#header_up_boardSeq{
	height: 20px;
	width: 50px;
	padding: 2px 5px;
	float: left;
}
#header_up_boardWriteDate{
	height: 20px;
	width: 250px;
	padding: 2px 5px;
	left: 50px;
	
}
/*header_down : 제목, 조회수, 아이디*/
#header_down_boardTitle{
	height: 20px;
	width: 450px;
	padding: 2px 5px;
	float: left;
	
}
#header_down_viewSeq{
	height: 20px;
	width: 50px;
	padding: 2px 5px;
	float: right;
}
#header_down_writerName{
	height: 20px;
	width: 80px;
	padding: 2px 5px;
	float: right;
}
/*<<End of #freeboard_Header>>*/



#header_hr{
	margin:3px;
	color: #ffc828;
	border: 1px solid;
}



#freeboard_Content {
	height: 350px;
	margin: 5px 0px;
	overflow: hidden;
}
/*<<Start of freeboard_Content>>*/

/*<<End of freeboard_Content>>*/



#freeboard_Footer {
	height: 50px;
	margin: 0px 0px;
}
/*<<Start of freeboard_Content>>*/
#footer_button_List{
	float: right;
	margin: 15px 5px;
	vertical-align: middle;
}
#footer_button_Modify{
	float: right;
	margin: 15px 5px;
	vertical-align: top;
	
}
#footer_button_Delete{
	float: right;
	margin: 15px 5px;
	vertical-align: top;
	
}

#footer_button_Cancel{
	float: right;
	vertical-align: top;
	margin: 15px 5px;
}
#footer_button_Write{
	float: right;
	vertical-align: top;
}
/*<<End of freeboard_Content>>*/





