@charset "UTF-8";

/* *{
	Test용
	border: 1px solid black;
} */

.all_Button{
    color: #787878;
    font-weight: bold;
    padding: 0 16px;
    margin-left: 3px;
    padding-bottom: 3px;
    background: none;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
	}
.all_Button:hover{
	background-color: #a0a0a0;
	color: #f0f0f0;
}


#freeboard_wrap_1 {
	width: 1000px;
	margin: 0 auto;
}

#freeboard_wrap_2 {
	margin: 15px auto;
}




#freeboard_Header {
	margin: 5px 10px;
	height: 40px;
}
/*<<Start of #freeboard_Header>>*/
/*header_up : 게시글 번호, 날짜*/
#header_up_boardSeq{
	height: 20px;
	width: 50px;
	padding: 2px 5px;
	float: left;
	
	font-size: small;
    font-weight: bold;
    color: #c8c8c8;
}
#header_up_boardWriteDate{
	height: 20px;
	width: 250px;
	padding: 2px 5px;
	left: 50px;
	
	font-size: small;
    font-weight: bold;
    color: #c8c8c8;
	
}
/*header_down : 제목, 조회수, 아이디*/
#header_down_boardTitle{
	height: 20px;
	width: 450px;
	padding: 2px 5px;
	float: left;
	
	font-weight: bold;
    font-size: larger;
    color: 282828;
	
}
#header_down_viewSeq{
	height: 20px;
	width: 50px;
	padding: 2px 5px;
	float: right;
	
	font-size: medium;
    font-weight: bold;
    color: #c8c8c8;
}
#header_down_writerName{
	height: 20px;
	width: 80px;
	padding: 2px 5px;
	float: right;
	
	font-size: medium;
    font-weight: bold;
    color: #c8c8c8;
}
/*<<End of #freeboard_Header>>*/



#header_hr{
	margin:3px;
	color: #ffc828;
	border: 1px solid;
}



#freeboard_Content {
	height: 350px;
	margin: 5px 0px;
	overflow: hidden;
}
/*<<Start of freeboard_Content>>*/

/*<<End of freeboard_Content>>*/



#freeboard_Footer {
}
/*<<Start of freeboard_Content>>*/
#footer_button_Delete{
	float: right;
}
#footer_button_Modify{
	float: right;
}
#footer_button_List{
	float: right;
}


/*<<End of freeboard_Content>>*/





