@charset "UTF-8";

/* *{
	border: 1px solid black;
}  */

.all_Button{
	color: #787878;
    font-weight: bold;
    padding: 0 16px;
    margin-left: 3px;
    padding-bottom: 3px;
    background: none;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
}
.all_Button:hover{
	background-color: #a0a0a0;
	color: #f0f0f0;
	cursor: pointer;
}


#freeboard_wrap_1 {
	width: 1000px;
	margin: 0 auto;
	height: 800px;
}

#freeboard_wrap_2 {
	width: 1000px;
	margin: 15px auto;
	height: auto;
}




#freeboard_Header {
	padding: 15px 0px;
	border-bottom: 2px solid #505050;
	
}
/*<<Start of #freeboard_Header>>*/
#icon_search_img {
	background-color: #000000;
	height: 25px;
	width: 25px;
	vertical-align: top;
	border-radius: 0 5px 5px 0;
	padding: 4px;
}
#icon_Search_span {
	float: right;
}
#icon_Search_input {
	height: 25px;
    width: 200px;
    vertical-align: top;
    border-radius: 3px;
    border: 2px solid #c8c8c8;
    border-right : none;
    border-radius: 5px 0 0 5px;
}
/*<<End of #freeboard_Header>>*/



#freeboard_Content {
    margin-bottom: 20px;
}
/*<<Start of freeboard_Content>>*/
.contentBox {
	border-bottom: 1px solid #c8c8c8;
	padding-bottom: 10px;
}

/*==Start of contentBox==*/

/*상단 :게시글 번호, 날짜*/
.content_up {
	/*상단 폰트설정*/
	font-size: 15px;
    font-weight: bold;
    color: #a0a0a0;
    margin-top: 5px;
}

/*상단 : 게시글 번호*/
.boardSeqBox {
	float: left;
    width: 161px;
}

/*상단 : 날짜*/
.boardWriteDateBox {
}

/*하단 : 게시글 제목, 조회수, 아이디*/
.content_down {
}

/*하단 -제목*/
.boardTitleBox {
    width: 776px !important;
    display: inline-block;
    max-width: inherit;
    color: #282828;
    }
.boardTitleFont:link,
.boardTitleFont:visited,
.boardTitleFont:active{
	color: #282828;
}   
.boardTitleFont {
	font-weight: bold;
    font-size: 18px;
    color: 282828;
}

/*하단 -조회수*/
.viewSeqBox {
	display: inline-block;
    width: 77px;
    font-size: medium;
    font-weight: bold;
    color: #a0a0a0;
}

/*하단 -아이디*/
.writerNameBox {
    display: inline-block;
    max-width: inherit;
    font-size: medium;
    font-weight: bold;
    color: #a0a0a0;
}

.content_hr{
	border: 1px solid;
    color: #c8c8c8;
}

/*==End of contentBox==*/
/*<<End of freeboard_Content>>*/



#freeboard_Footer {
	text-align: right;
}
/*<<Start of freeboard_Content>>*/
#button_write {
	width: 80px;
	height: 30px;
	background-color: #ffc828;
	color: #f0f0f0;
	border: none;
}
#button_write:hover{
	background-color: #a0a0a0 !important;
	color: #f0f0f0;
}
/*<<End of freeboard_Content>>*/





