@charset "UTF-8";

body {
	background-color: #f5f5f5;
}

.form_name {
	width: 122px !important;
}
.form_gender {
	width: 122px !important;
	margin-left: 5px;
	margin-right: 5px;
}
.form_birth {
	width: 247px !important;
}

/*출력테그 폰트*/
#email_Output_ID{
	color: #a0a0a0;
}
#password_Output_ID{
	color: #a0a0a0;
}
#nameAndBirthDay_Output_ID{
	color: #a0a0a0;
}
#phoneNumber_Output_ID{
	color: #a0a0a0;
}
#addressAPI_Output_ID{
	color: #a0a0a0;
}




