@charset "UTF-8";

/* *{
	border: 1px solid #a0a0a0;
}   */

.form-control {
		text-align: center;
	}
	
	#wrapper {
	width : 1200px;
	margin: 100px auto 50px auto;
	
}

.all_Button{
    color: #3c3c3c;
    font-weight: bold;
    padding: 5px 20px;
    /* margin-left: 3px; */
    /* padding-bottom: 3px; */
    background: none;
    border: 1px solid #3c3c3c;
    border-radius: 4px;
    text-align: center;
}
.all_Button:hover{
	background-color: #a0a0a0;
	color: #f0f0f0;
	cursor: pointer;
}

/*<<Start of #freeboard_Header>>*/
#freeboard_Header{
	margin: 50px 0;
}
#fb_Header_UserID{
	width: 500px;
	margin: 0 auto;
	text-align: center;
	font-size: 25pt;
	font-weight: bold;
	color: #282828;
}
/*<<End of #freeboard_Header>>*/


/*<<Start of freeboard_Content>>*/
#freeboard_Content{
	width: 500px;
	margin: 0px auto;
}
.fbContent{
	margin: 30px 0;
}
.content_Font1{
	width: 150px;
	color: #787878;
	font-size: 15pt;
	font-weight: bold;
	display: inline-block;
}
.content_Font2{
	color: #282828;
	font-size: 15pt;
	font-weight: bold;
	display: inline-block;
}

#content_button_wrap{
	text-align: center;
	margin-bottom: 30px;
}
/*<<End of freeboard_Content>>*/

#freeboard_Footer{
	text-align: center;
}
/*<<Start of freeboard_Footer>>*/

/*<<End of freeboard_Footer>>*/




