@charset "UTF-8";

/* adminContent 공통사항 */
.form-group {
	
}
.input-group{
	display: inline-block;
	width: inherit;
	vertical-align: top;
	padding: 0;
}
.input-group-addon{
	width : inherit;
	display: inline-block;
	padding: 0;
	border: none;
	background-color: #ffffff;
}
.calbutton, .calbutton2{
	cursor : pointer; 
	background-repeat :no-repeat;
}
.preDate, .nextDate{
	padding : 0 4px;
	cursor: pointer;
	border: none;
	background : none;
	text-decoration: none; 
}
.preDate:focus, .nextDate:focus{
	outline: none;
}
.preDate:hover, .nextDate:hover{
	font-weight : bold;
	color : #ffc828;
}

.monthButton, .monthButton1, .monthButton2{
	width: 17px;
	padding-left: 1px;
	padding-top: 1px;
	vertical-align: top;
	overflow: hidden;
	border: 0;
	cursor: pointer;
	display: inline-block;
}
.dateInput{
	padding : 0;
	border: none;
	text-align: center;
	vertical-align: top;
}
.resultTab{
	width: 100%;
}
.resultTab *{
	color: #505050;
}
.resultTab thead tr{
	border-bottom: 2px solid #282828;
}
.resultTab tr{
	border-bottom: 1px solid #a0a0a0;
}
.resultTab th{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	font-weight: bold;
	font-size: 18px;
}
.resultTab td{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left : 20px;
}
input[type="submit"], select{
	cursor: pointer;
}
#bottomContent {
	text-align: left;
	height: 100%;
	margin-top: 20px;
}
#leftContent {
	padding: 10px;
	width: 150px;
	display: inline-block;
	text-align: center;
	height: 100%;
}

#leftContent * {
	font-weight: bold;
}

#leftContent a, #leftContent li {
	cursor: pointer;
}

.leftTitle {
	margin-bottom: 25px;
	font-size: 20px;
	color: #282828;
}
.leftActive {
	color: #ffc828 !important;
}
.leftMenu {
	cursor: pointer;
	text-align: left;
	font-size: 14px;
	padding-top: 17px;
	padding-bottom: 5px;
	border-bottom: 1px solid #dcdcdc;
	color: #505050;
}
.leftMenu:hover{
	color: #ffc828 !important;
}
.leftSubmenu {
	display: none;
	margin-bottom: 0px;
	margin-top: 7px;
}
.leftSubmenu * {
	text-align: left;
	padding-left: 20px;
	color: #a0a0a0 !important;
	margin-top: 6px;
}
.leftSubmenu li:hover{
	color: #282828 !important;
}
.leftSubActive {
	color: #282828 !important;
}
#rightContent {
	width: 820px;
	display: inline-block;
	vertical-align: top;
	margin-left: 30px;
}

#rightContent * {
	font-size: 13px;
}

#mainContent {
	margin-top: 25px;
}

/*   adminOperation.jsp 내부 공통 - totalResult.jsp, dailySal.jsp, budget 공통*/
.datepicker:focus{
	outline: none;
}
#totalDatepicker{
	width: 120px;
}
#budgetDatepicker{
	width: 70px;
    margin-left: 5px;
}
#mainHeader {
	text-align: center;
	position: relative;
}

#mainHeader .absol {
	right: 0px;
}

#mainHeader select {
	background-color: #505050;
	color: #f0f0f0;
	border: 0;
	text-align-last: center;
	vertical-align: middle;
	padding: 2px 0;
}

#mainMid, #mainBottom {
	margin-top: 30px;
}

.seldate {
	border: 1px solid #505050;
	border-radius: 4px;
	padding: 3px 8px;
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 4px;
}

#startDate, #endDate {
	width: 70px;
	text-align: center;
	vertical-align: middle;
}

input.select {
    background-color: #505050;
   	color: #f0f0f0;    	
   	border: 0;
   	text-align-last:center;
   	vertical-align: middle;
   	padding: 3.7px 15px 3.2px;
}

.downButton {
	padding: 5px 15px;
	vertical-align: middle;
	display: inline-block;
	border: 1px solid #a0a0a0;
	border-radius: 5px;
	color: #505050;
	font-weight: bold;
	margin-left: 5px;
}
.downButton:hover{
	cursor: pointer;
	background-color: #505050;
	border-color: #505050;
	color: #f0f0f0;	
}
.toInput{
	padding: 7px 20px;
	display: inline-block;
	text-align: center;
	background-color: #505050;
	color: #f0f0f0;
	border-radius: 3px;
	font-weight: bold;
	font-size: 16px !important;	
	cursor: pointer;
}
.toInput:hover{
	background-color: #ffc828;
}
.toResult{
	width: 300px;
	padding: 7px 20px;
	display: inline-block;
	text-align: left;
	background-color: #f0f0f0;
	border-radius: 3px;
}
.toResult *{
	font-weight: bold;
	font-size: 16px !important;	
}
.toResult span:first-child{
	color : #787878;	
}
.toResult span:last-child{
	float: right;
	color : #282828;
}


/* totalResult.jsp */
#budgetReport {
	border-radius: 10px;
}

#budgetReport .title, #budgetReport .footer {
	color: #f0f0f0;
	font-size: 20px;
	display: inline-block;
}

#budgetReport .title {
	width: 140px;
}

#budgetReport .result {
	color: #ffc828;
	font-size: 26px;
	font-weight: bold;
	width: 200px;
	display: inline-block;
	text-align: right;
}

#budgetReport .footer {
	width: 20px;
	text-align: right;
}

#yearBudgetReport, #monthBudgetReport, #leftSalesReport,
	#rightSalesReport {
	padding: 20px;
	width: 410px;
}

#yearBudgetReport, #leftSalesReport {
	border-right: 0.5px solid #c8c8c8;
}

#leftSalesReport div, #rightSalesReport div {
	border-bottom: 0.5px solid #c8c8c8;
	padding-bottom: 6px;
	margin-bottom: 15px;
}

#salesReport .title, #salesReport .footer {
	color: #282828;
	font-size: 14px;
	display: inline-block;
	font-weight: 700;
}

#salesReport .title {
	width: 100px;
}

#salesReport .result {
	color: #ffc828;
	font-size: 18px;
	font-weight: bold;
	width: 160px;
	display: inline-block;
	text-align: right;
}

#salesReport .footer {
	width: 20px;
	text-align: right;
}

#salesReport .sub {
	border-bottom: 0;
	margin-bottom: 5px;
}
.bottom5 {
	margin-bottom: 5px !important;
}
.bottom15 {
	margin-bottom: 15px !important;
}

#salesReport .sub .subTitle {
	display: inline-block;
	width: 100px;
	padding-left: 20px;
}

/* dailySal.jsp */
.ds1{width: 120px;}.ds2{width: 120px;}
.ds3{width: 120px;}.ds4{width: 200px;}
td.ds1, td.ds2, td.ds3, td.ds4{
	text-align: right; 
	padding-right : 20px;
}
th.ds1, th.ds2, th.ds3, th.ds4{
	padding-left : 0;
	text-align: center; 
}


/* budget.jsp */
.monthLabel {
	width: 160px;
	display: inline-block;
	margin-bottom: 40px;
}
.monthLabel *{
	font-weight: bold;
	color: #505050;
}
.monthLabel div:first-child {
	font-size: 22px !important;
}
.monthLabel input{
	font-size: 20px !important;
	padding-left: 10px;
	width : 160px;
	height: 100%;
	border: 1px solid #FFF;
	border-radius: 5px;
	cursor: default;
}
.monthLabel input:focus{
	cursor: text;
	outline: none;
}

.monthLabel hr{
	border-top: 2px solid; 
	margin: 5px 0;
}
.budgetResult .toInput{
	margin-left: 20px;
}
