@charset "UTF-8";
    /* 초기화 */
* {
	padding : 0;
	margin : 0;
    box-sizing: border-box;
/*  	border: 0.5px solid black;  */
}
body{
	padding:0px;
	margin:0px;
	line-height: inherit !important;
}
button{
    line-height: inherit !important;
}
h5 {font-size: 12px !important;}
a {
    text-decoration: none !important; 
    cursor: pointer;
    }
li {
    font-size: 11px;
    font-weight: normal;
    list-style: none;
}
table, th, td, tr {
	border: 1px solid #787878 !important;
	font-size : 11px !important;
	text-align: center;
	padding: 0 !important;
}
        /* 공통 속성 */
.t-left {text-align: left;}.t-right {text-align:right;}.t-center {text-align:center;}
.none{display: none;}.bl{display: block;}.in-bl{display:inline-block;}
.tab{display: table !important;}.cel{display: table-cell !important;}
.fl-left{float: left;}.fl-right{float: right;}
.absol{position: absolute;}.rela{position: relative;}.fix{position: fixed;}
.ver-top{vertical-align: top;}.ver-mid{vertical-align: middle;}.ver-bot{vertical-align: bottom;}
.ov-hid{overflow: hidden;}.ov-vis{overflow: visible;}
.ov-scr{overflow: scroll;}.ov-aut{overflow: auto;}
.back1{background-color: #ffc828;}.back2{background-color: #282828;}
.back3{background-color: #505050;}.back4{background-color: #787878;}
.back5{background-color: #a0a0a0;}.back6{background-color: #c8c8c8;}
.back7{background-color: #dcdcdc;}.back8{background-color: #f0f0f0;}
.fon10{font-size: 10px;}.fon12{font-size: 12px;}
.fon15{font-size: 15px;}.fon18{font-size: 18px;}.fon20{font-size: 20px;}
.fon22{font-size: 22px;}.fon24{font-size: 24px;}
.fonb{font-weight:bold;}.fonn{font-weight: normal;}
.ws-now{white-space: nowrap;}.ws-pre{white-space: pre;}
.ws-pwrap{white-space: pre-wrap;}.ws-pline{white-space: pre-line}
.col1{color: #ffc828 !important;}.col2{color: #282828 !important;}.col3{color: #505050 !important;}.col4{color: #787878 !important;}
.col5{color: #a0a0a0 !important;}.col6{color: #c8c8c8 !important;}.col7{color: #dcdcdc !important;}.col8{color: #f0f0f0 !important;}
.col-white{color: #ffffff !important;}
.wid100{width:100%;}.hei100{height:100%;}
.bor-white{border: 1px solid #ffffff;}
.bor8{border: 1px solid #f0f0f0;}

/* 바디 내부 */
#adminWrapper {
	width : 1000px;
    
	margin: 0px auto;
	text-align: center;
}
.active {
    background-color: #505050;
}
.active:hover {
	color: white;
}
#adminInfo{
	text-align: right;
	background-color: #787878;
}
#adminInfo *{
	display: inline-block !important;
    color: #f0f0f0;
    font-size: 10px;
	padding: 5px;
}
#headerNavi {
    list-style-type: none;
    margin: 0 !important;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#headerNavi li {
    float: right;
    border-left:1px solid #bbb;
}
#headerNavi li:last-Child {
    border-right:1px solid #bbb;
    border-left:1px solid #bbb;
}

#headerNavi li:last-child {
    border-right: none;
}

#headerNavi li a {
    display: block;
    font-size: 13px;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

#headerNavi li a:hover:not(.active) {
    background-color: #111;
    color: white;
}

