@charset "UTF-8";
    #bottomContent{
        text-align: left;
        height: 100%;
        margin-top: 20px;
    }
    #leftContent{
        padding: 10px;
        width: 150px;
        display: inline-block;
        text-align: center;
        height: 100%;
    }
    #leftContent *{
    	color: #282828;
    	font-weight: bold;
    }
    #leftContent a, #leftContent li{
        cursor: pointer;
    }
    .leftTitle{
        margin-bottom: 25px;
        font-size: 20px;
    }
    .leftActive{
    	color: #ffc828 !important;
    }
    .leftMenu{
        cursor: pointer;
        text-align: left;
        font-size: 13px;
        padding-top : 17px;
        padding-bottom : 5px;
        border-bottom: 1px solid #dcdcdc;
    }
/*     .leftMenulast{ */
/*         border-bottom: 1px solid #505050; */
/*     } */
    /*서브메뉴 */
    .leftSubmenu{
        display: none;
    	margin-bottom: 0px;
    	margin-top: 7px;
    }   
    .leftSubmenu *{
        text-align: left;
        padding-left: 20px;
        color: #a0a0a0 !important ;
        margin-top: 6px;
    }
    #rightContent{
        width: 850px;
        display: inline-block;
        vertical-align: top;
    }
    #rightContent *{
        font-size: 13px;
    }

    #menuTitle {
        padding: 7px 10px;
        background-color: #dcdcdc;
        color: #505050;
        border-bottom: 1px solid #c8c8c8;
    }